.git/
node_modules/
configs/botConfig.json
configs/botConfig.1.json
configs/botConfig.2.json
configs/bannedAccountsServers.json
configs/serverConfig.json
configs/raidIncidents.json
configs/farmData.json
configs/farmServerConfig.json
logs/
_backup/
*.lock
configs/*.tmp
configs/*.lock
*.code-workspace
